{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <!-- Load Bootstrap (Solarized Theme by Thomas Park @ bootswatch.com) -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_solarized.css' %}"> -->
    <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.css">
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <title>Delta - Times change.</title>
</head>
<style>
    body {
        overflow: hidden;
    }
</style>

<body>
    <img src="{% static 'img/frontierspace.jpeg' %}" style="width: 100%; height:100%; position: absolute; z-index: -1">
    <div class="container bg-dark p-0 rounded position-absolute" style="width: 30%; height:50%; margin: auto; position: absolute; left: 0; top: 0; bottom: 0; right: 0;">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#signup">Signup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#login">Login</a>
            </li>
        </ul>
        <div id="signup-login" class="tab-content p-3 border-top border-success">
            <div class="tab-pane fade active show" id="signup">
                <!-- TODO signup form -->
            </div>
            <div class="tab-pane fade" id="login">
                <!-- TODO login form -->
                <form action="{% url 'forum-login' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="login-username">Username</label>
                        {{ login.username }}
                    </div>
                    <div class="form-group">
                        <label for="login-password">Password</label>
                        {{ login.password }}
                    </div>
                    <input class="float-right" type="submit" value="Log in">
                </form>
                <script>
                    $("#id_username").attr("placeholder", "Username");
                    $("#id_password").attr("placeholder", "Password");
                    $('.form-group input').each(function () {
                        $(this).addClass('form-control bg-dark text-secondary border-secondary');
                    });
                </script>
            </div>
        </div>
    </div>

</body>

</html>