<header class="nav navbar navbar-dark bg-dark">
    <nav class="container">
        <a class="navbar-brand" href="/">delta:Δ</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Profile</a>
            </li>
        </ul>
        <div>
            <button type="button" class="btn btn-outline-primary">Login</button>
            <button type="button" class="btn btn-primary">Signup</button>
        </div>
    </nav>
</header>