<header class="nav navbar navbar-dark bg-dark">
    <nav class="container">
        <a class="navbar-brand" href="{% url 'forum-home' %}">delta:Δ</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'forum-home' %}">Profile</a>
            </li>
        </ul>
        <div>
            {% if user.id %}
            <form action="{% url 'forum-logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary">Log out</button>
            </form>
            {% else %}
            <button type="button" class="btn btn-outline-primary">Login</button>
            <button type="button" class="btn btn-primary">Signup</button>
            {% endif %}
        </div>
    </nav>
</header>